body {
font-family: 'Gaegu';
background: lightblue;
}

.container {
    margin: 100px auto;
    width: 30%;
}

.containerheader {
    background: steelblue;
    color: white;
    padding: 5px;
    padding-left: 10px;
    font-size: 2.2em;
    font-weight: 700;
}

input {
    box-sizing: border-box;
    width: 100%;
    padding: 5px;
    padding-left: 10px;
    border: none;
    height: 3em;
    background: gainsboro;
}

input::-webkit-input-placeholder {
    font-family: 'Gaegu';
    font-size: 1.8em;
    font-weight: 700;
}

input::-ms-input-placeholder {
    font-family: 'Gaegu';
    font-size: 1.8em;
    font-weight: 700;
}

input::-moz-placeholder {
    font-family: 'Gaegu';
    font-size: 1.8em;
    font-weight: 700;
}

.container .list > * {
}

.todoitem {
    display: block;
    padding: 5px;
    padding-left: 10px;
    height: 1.6em;
}

.container .list span:nth-child(even) {
    background: gainsboro;
}

.container .list span:nth-child(odd) {
    background: white;
}

.fas {
    float: right;
    padding-right: 10px;
    padding-top: 5px;
}

.donetask {
    text-decoration: line-through;
}

.list span {
    padding: 0;
}

.list span span {
    background:pink;
    padding: 4px;
}

.binsignholder {
    margin-top: 999px;
}