body {
font-family: 'Gaegu';
background: lightblue;
}

.container {
    margin: 100px auto;
    width: 20%;
}

.containerheader {
    background: steelblue;
    color: white;
    padding: 5px;
    padding-left: 10px;
}

input {
    box-sizing: border-box;
    width: 100%;
    padding: 5px;
    padding-left: 10px;
    border: none;
}

input::-webkit-input-placeholder {
    font-family: 'Gaegu';
    font-size: 1.4em;
}

input::-ms-input-placeholder {
    font-family: 'Gaegu';
    font-size: 1.4em;
}

input::-moz-placeholder {
    font-family: 'Gaegu';
    font-size: 1.4em;
}

.container .list > * {
    display: block;
    padding: 5px;
    padding-left: 10px;
}

.container .list span:nth-child(even) {
    background: gainsboro;
}

.container .list span:nth-child(odd) {
    background: white;
}