.container {
    border: 2px solid red;
    margin: 100px auto;
    width: 20%;
}

.containerheader {
    background: steelblue;
    color: white;
}

.container * {
    padding: 5px;
    padding-left: 8px;
}

input {
    box-sizing: border-box;
    width: 100%;
}

.container .list > * {
    display: block;
    background: brown;
}